*.pth
*.csv
*.pdf
*.pptx
*.mp4
*.wav
*.json
*.npy
*.pth
venv/*
venv
*.pt
*.ckpt
*.json
*.bin
pretrained_model/*
!pretrained_model/README.md
src/dataloader_old.py
!src/preprocess/sample_datafiles/*
!src/preprocess/sample_video/*
.idea
.DS_Store
egs/vggsound/run_cavmae_ft_internal.sh
src/dataloader_audio_only.py
src/gen_audio_embedding.py
src/gen_audio_embedding_test.py
src/gen_audio_embedding_ltue.py
src/gen_audio_embedding_esc.py
egs/audioset/run_cavmae_ft_bal_audioonly_internal.sh
egs/vggsound/run_cavmae_ft_audioonly_internal.sh